.about__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__title {
    font-size: var(--size-2xl);
    color: var(--clr-dark);
}

.about__description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-dark600);
}

.about__hr {
    color: var(--clr-dark600);
}

.about__title {
    font-size: var(--size-sm);
    color: var(--clr-dark);
}

.about__ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 1em;
}

.about__ul .a {
    list-style-type: '\1F425';
}

.about__ul .a:hover {
    margin-left: 40px;
    list-style-type: '\2B50\2B50\2B50';
}

.about__ul .b {
    list-style-type: '\1F424';
}

.about__ul .b:hover {
    margin-left: 20px;
    list-style-type: '\2B50\2B50';
}

.about__ul .c {
    list-style-type: '\1F423';
}

.about__ul .c:hover {
    list-style-type: '\2B50';
}

.about__list {
    color: var(--clr-dark600);
}

.about__list:hover {
    color: var(--clr-purple);
}

.certificate__wrap {
    display: flex;
    gap: 1rem;
}

.certificates .cer__link {
    width: var(--size-2xl);
    height: var(--size-2xl);
}

/* @media (min-width: 475px) {} */

/* @media (min-width: 640px) {} */

/* @media (min-width: 768px) {} */

@media (min-width: 1024px) {
    .about {
        display: flex;
        justify-content: space-around;
    }
}

/* @media (min-width: 1280px) {} */

/* @media (min-width: 1536px) {} */










/* @media (min-width: 475px) {} */

/* @media (min-width: 640px) {} */

/* @media (min-width: 768px) {} */

@media (min-width: 1024px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

/* @media (min-width: 1280px) {} */

/* @media (min-width: 1536px) {} */