.footer {
    margin-bottom: 5rem;
}

.footer__title {
    font-size: var(--size-base);
    font-weight: bold;
    color: var(--clr-dark600);
    text-align: center;
    text-transform: uppercase;
    /*ตัวพิมใหญ่*/
    letter-spacing: 0.2em;
}

.footer__title:hover {
    color: white;
}

.contact-me {
    width: 50%;
    margin: auto;
    font-size: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--clr-peony);
    border-radius: 20px;
    padding: 2px;
    box-shadow: 0 10px 20px var(--clr-peony), 0 6px 6px var(--clr-peony), 0 0 100px -10px var(--clr-peony);
}

.contact-me a {
    color: var(--clr-babyblue);
}

.contact-me a:hover {
    color: var(--clr-peony);
}

@media (min-width: 1024px) {
    .contact-me {
        width: 25%;
    }
}