/* .mobile-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: var(--clr-light);
    overflow-x: hidden;
    transition: 0.5s;
}

.mobile-nav-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.mobile-nav a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.mobile-nav a:hover,
.mobile-nav a:focus {
    color: #f1f1f1;
}

.mobile-nav .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.mobile-nav__sun {
    width: var(--size-3xl);
    height: var(--size-3xl);
    color: var(--clr-sun);
    position: relative;
    left: 47%;
    margin-right: 10%;
}

@media screen and (max-height: 475px) {
    .mobile-nav a {
        font-size: 20px
    }

    .mobile-nav .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

} */